:root {
    --bg:#FDFBEA;
    --fg:#622F2C;
    --acc1:#B55D39;
    --acc2:#2f6b8e;
    --acc3:#669B95;
    --menu-gap:3rem;
}

/* @font-face { */
/*     font-family: 'Iosevka Hane Sans'; */
/*     src: url('../files/iosevka-hane-sans-regular.woff2') format('woff2'); */
/* } */

html {
    font-family: "Nimbus Sans", sans-serif;
    font-size: 90%;
    background-color: var(--bg);
}


body {
    font-size: 1.3rem;
    color: var(--fg);
}

img {
    align: right;
}

.animation {
}

.tocheader {
    font-weight: bold;
}

.toc {
    font-size: 1rem;
}

nav {
    background-color: var(--bg);

}

.desktop-nav {
    display: block;
    overflow-x: hidden;
    float:left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: var(--menu-gap);
    padding-right: var(--menu-gap);
    border-right: 0.2rem solid var(--fg);
    text-align: left;
}

nav a {
    color: var(--acc1);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

nav a:link {
    color: var(--acc1)
}

nav .logo a {
    color: var(--fg);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
}

nav p {
    font-size: 1rem;
    color: var(--fg);
}

nav p a {
    font-size: 1rem;
}

.mobile-nav {
    display: none;
    border-bottom: 0.2rem solid var(--fg);
    float: left;
}

.mobile-nav .logo a {
    font-size: 3rem;
}

@media screen and (max-width: 480px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}

main {
    float: left;
    max-width: 60rem;
    width: 100%;
}


main h1 {
    margin-top: 1rem;
}


footer {
    margin-top: 2rem;
    padding: 1.2rem 0;
    padding-top: 0;
    border-top: 0.2rem solid var(--fg);
    font-size: 1.2rem;
    color: var(--fg);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: underline;
}

a:link {
    color: var(--acc2);
}

a:visited {
    color: var(--acc1);
}

.sourceCode {
    font-size: 1rem;
}

.index-image {
    display: block;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 4px 4px 8px 0 var(--acc2);
    max-width: 90%;
}

blockquote {
    border-left: 8px solid var(--acc2);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    box-shadow: 2px 2px 8px 0 var(--acc2);
}

blockquote cite{
    display:block;
    font-weight: bold;
    margin-top:0.5em;
    text-align: right;
    font-size-adjust: 0.4;
}

blockquote cite:before {
    content: "- ";
}

.quote-page-link:visited, .quote-page-link:link{
    text-decoration: none;
    color: var(--fg);
}

.quote-page-link blockquote {
    transition: all 0.5s;
}

.quote-page-link blockquote:hover {
    border-left-color: var(--fg);
    box-shadow: 2px 2px 8px 0 var(--fg);

}

/* @media screen and (max-width: 480px) { */
/*     .index-image { */
/*     } */
/* } */
