:root {
    --bg:#FDFBEA;
    --fg:#622F2C;
    --acc1:#B55D39;
    --acc2:#2f6b8e;
    --acc3:#669B95;
    --menu-gap:15px;
}

/* @font-face { */
/*     font-family: 'Iosevka Hane Sans'; */
/*     src: url('../files/iosevka-hane-sans-regular.woff2') format('woff2'); */
/* } */

html {
    font-family: "Nimbus Sans", sans-serif;
    font-size: 90%;
    background-color: var(--bg);
}


body {
    font-size: 1.3rem;
    color: var(--fg);
}

img {
    align: right;
}

.animation {
}

.tocheader {
    font-weight: bold;
}

.toc {
    font-size: 1rem;
}

nav {
    display: block;
    background-color: var(--bg);
    overflow-x: hidden;
    float:left;
    margin-top: 23px;
    margin-left: 1rem;
    margin-right: var(--menu-gap);
    padding-right: var(--menu-gap);
    border-right: 0.2rem solid var(--fg);
}

@media screen and (max-width: 510px) {
    nav {
        border-right: 0px;
        padding-right: 0px;
        margin-right: 0px;

        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 0.2rem solid var(--fg);

    }
}

nav a {
    font-size: 1.8rem;
    color: var(--fg);
    text-decoration: none;
}

main {
    float:left;
    width: 60rem;
}

nav a:link, nav a:visited, header a:link, header a:visited {
    color: var(--acc1);
    font-style: italic;
    font-weight: bold;
}

nav .logo a {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    color: var(--fg);
    text-decoration: none;
}

nav p {
    font-size: 1rem;
    color: var(--fg);
}
nav p a {
    font-size: 1rem;
}

footer {
    margin-top: 2rem;
    padding: 1.2rem 0;
    padding-top: 0;
    border-top: 0.2rem solid var(--fg);
    font-size: 1.2rem;
    color: var(--fg);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: underline;
}

a:link {
    color: var(--acc1);
}

a:visited {
    color: var(--acc2);
}

.sourceCode {
    font-size: 1rem;
}
