<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>eshan ramesh</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
     <nav class="desktop-nav">
        <div class="logo">
          <a href="/">eshan <br> ramesh</a>
        </div>
        <a href="/">index</a><br>
        <a href="/pages/about.html">about</a><br>
        <a href="/pages/contact.html">contact</a><br>
        <a href="https://notes.esrh.me">wiki</a><br>
        <a href="https://photos.esrh.me">film</a><br>
        <p>
          github: <a href="https://github.com/eshrh">eshrh</a>
        </p>
      </nav>

     <nav class="mobile-nav">
        <div class="logo">
          <a href="/">eshan ramesh</a>
        </div>
        <a href="/">index</a>
        <a href="/pages/about.html">about</a>
        <a href="/pages/contact.html">contact</a>
        <a href="https://notes.esrh.me">wiki</a>
        <a href="https://photos.esrh.me">film</a>
        <p>
          github: <a href="https://github.com/eshrh">eshrh</a>
        </p>
      </nav>

     <main role="main">
       <h1>$title$</h1>
       $body$
     </main>
    </body>
</html>
